.game {
	height: 350px;
	width: 250px;
}

.game-show {
	height: 475px;
	width: 325px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
}

p.alert,
p.notice {
	margin: 0;
}
